/*
 * http://kuler.adobe.com/#themeID/1081823
 */

* {
    margin: 0
}

html, body {
    height: 100%;
}

body, button {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 0.25in;
}

body {
    color: #061E1F;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 1in -1in;
}

p {
    margin: 0.5em 0;
}

tt {
    font-family: 'Inconsolata', monospace;
    font-size: 0.28in;
}

button {
    border: none;
    padding: 0;
    background: white;
    color: #FF7813;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

h1, #username, #footer div, .bracket {
    font-family: 'Sue Ellen Francisco';
}

h1 {
    font-size: 1in;
    font-weight: normal;
    padding: 0.25in 0 0 0;
    height: 4ex;
    overflow: hidden;
}

h2 {
    font-size: 0.5in;
    font-weight: normal;
}

a {
    color: #FF7813;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#navigation {
    list-style-type: none;
    padding: 0;
}

#navigation li {
    float: left;
    padding-right: 0.25in;
}

#navigation a {
    color: #98B000;
}

#user {
    position: absolute;
    top: 0.5in;
    right: 1in;
    text-align: center;
}

#username {
    font-size: 0.25in;
    padding: 0 0.25in;
    margin-bottom: 0.25in;
    border-bottom: 1px dashed #FFE30E;
}

#content {
    margin-top: 0.75in;
}

#footer, #push {
    position: relative;
    height: 1in;
    margin: 0 1in;
}

#footer div {
    color: #164A22;
    position:absolute; bottom:0px;
}

.bracketed {
    position: relative;
    padding: 0.1in 0.25in;
}

.bracket {
    position: absolute;
    line-height: 1em;
    font-size: 1in;
    color: #FFE30E;
    z-index: -1;
}

.flip {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
