{% extends "html.html" %}

{% block content %}
{% if task %}
<p>Currently working on:</p>
<p><a href="/go/{{ task.key|escape }}">{{ task.title|escape }}</a></p>
{% else %}
<p>Looks like you're not working on anything at the moment.</p>
{% endif %}
<br/>
{% for result in open %}
{% if forloop.first %}<h2>In-progress job requests</h2>{% endif %}
<p><a href="/go/{{ result.key|escape }}">{{ result.title|escape }}</a><br/>
{% if result.assigned %}
Assigned {{ result.assigned|timesince }} ago
{% else %}
Created {{ result.created|timesince }} ago
{% endif %}</p>
{% endfor %}
<br/>
{% for result in done %}
{% if forloop.first %}<h2>Completed job requests</h2>{% endif %}
<p>{{ result.title|escape }}<br/>
Completed {{ result.completed|timesince }} ago</p>
{% endfor %}
{% endblock %}
